@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.header {
  /* width: 1366px; */
  width: 1348px;
  height: 700px;
  background: rgba(229, 84, 115, 0.1);
  margin-bottom: 150px;
}
.header-text {
  margin-top: 100px;
  width: 50%;
  margin-left: 50px;
}
.header-image {
  width: 50%;
  height: 593px;
  margin-top: 107px;
}
.header-image img {
  width: 100%;
  height: 100%;
}
.header-parent {
  display: flex;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}
.header-text h1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 15px;
}
.header-text p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
.header-btn {
  padding: 20px 43px 20px 43px;
  border-radius: 8px;
  background: rgb(229, 84, 115);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.featured-text {
  width: 594px;
  height: 132px;
  margin: 0 auto;
  text-align: center;
}
.featured-text h3 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.Featured-text-p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
.featured-image-parent {
  display: flex;
  margin: 0 auto;
  margin: 0 100px;
  margin-top: 20px;
}
.featured-image-child1 {
  width: 32%;

  height: 471px;

  margin: 0 auto;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.featured-image-child1 img {
  width: 310px;
  height: 428px;
  margin-top: 43px;
}
.featured-image-child2 {
  width: 32%;

  height: 471px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  margin: 0 auto;
}
.featured-image-child2 img {
  margin-top: 30px;
}
.featured-image-child3 {
  width: 32%;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  height: 471px;
  margin: 0 auto;
}
.featured-image-child1 a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
}
.featured-image-child2 a {
  display: block;
  text-align: center;
  margin-top: 90px;
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
}
.featured-image-child3 a {
  margin-top: 20px;
  display: block;
  text-align: center;
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
}

.support-container {
  width: 1139px;
  height: 320px;
  margin: 0 auto;
  margin-top: 140px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.support-content {
  display: flex;
  justify-content: space-evenly;
}
.support-child {
  margin-top: 90px;
}
.hotdeal-container {
  width: 1348px;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
}
.hotdeal-content {
  /* width: 60%; */
  width: 594px;
  height: 228px;
  margin: 0 auto;
  margin-top: 200px;
  margin-left: 100px;
}
.hotdeal-content h2 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}
.hotdeal-content p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.hotdeal-btn {
  padding: 15px 35px;
  border-radius: 8px;
  background: rgb(229, 84, 115);
  border: none;
  margin-top: 20px;
  margin-left: 38%;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}
.hotdeal-image {
  width: 318px;
  height: 420px;
  margin: 0 auto;
  margin-right: 200px;
}
.hotdeal-image img {
  margin-top: 100px;
}
.Instagram-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.Instagram-content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.Instagram-content h3 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.Instagram-content p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.Instagram-image {
  display: flex;
  margin: 0 170px;
  gap: 5px;
}
.Instagram-image img {
  width: 25%;
}
.latest-deal {
  width: 1050px;
  height: 449px;
  /* border: 2px solid red; */
  margin: 0 auto;
  background-image: url(image/Rectangle\ 9.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.latest-deal-text {
  width: 40%;
  margin: 0 auto;
  padding-top: 120px;
  text-align: center;
}
.latest-deal-text h3 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.latest-deal-text p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}
.latest-deal-input {
  text-align: center;
}
.latest-deal-input input {
  width: 400px;
  padding: 14px 45px;
  border: none;
}
.latest-deal-btn {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 17px;
  padding: 12px 35px;
  border: none;
  border-radius: 8px;
  background: rgb(229, 84, 115);
}
footer {
  width: 1348px;
  height: 400px;
  background: rgb(17, 16, 16);
}
.footer-text {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding-top: 130px;
}
.footer-text h2 {
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 20px;
}
.flower {
  color: rgb(229, 84, 115);
}
.footer-text p {
  color: rgba(255, 255, 255, 0.9);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.footer-text .coppright-text {
  color: rgba(255, 255, 255, 0.4);
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}
